<%= provide(:title, "Login") %>
<section>
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center mx-auto min-vh-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <div class="form-outline mb-4">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-outline mb-3">
            <%= f.label :password, class:'form-label' %>
            <%= f.password_field :password, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-outline mb-3">
            <%= f.label :remember_me, class:'form-check-label' do %>
            <%= f.check_box :remember_me %>
              <span>Remember me</span>
              <% end %>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
              <%= f.submit "Login", class: "btn btn-primary btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>