<tr class="candidates-list">
  <td class="title align-content-center flex-shrink-0">
    <div class="thumb"><%= image_tag student.display_image , class: "rounded-circle img-fluid" if student.image.attached? %></div>
  </td>
  <td>
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <div class="candidate-list-title">
          <h5 class="mb-0"><%= link_to student_full_name(student), student_path(student) %></h5>
        </div>
      </div>
    </div>
  </td>
  <td>
    <div class="candidate-list-option d-inline text-lg-center">
        <span><%= student.course  %></span>
    </div>
  </td>
  <td class="candidate-list-favourite-time text-lg-center">
    <span class="candidate-list-time order-1"><%= student.year_level %></span>
  </td>
  <td>
    <ul class="mb-0 d-flex justify-content-lg-center align-content-center list-unstyled">
      <li>
        <%= link_to "view", student_path(student), class: "btn btn-sm btn-outline-info" %>
      </li>
      <li>
        <%= link_to 'edit', edit_student_path(student), class: "btn btn-sm btn-outline-info" %>
      </li>
      <li>
        <%= link_to "delete", student_path(student), method: :delete, data: {confirm: 'Are you sure you want to delete this student?'}, class: "btn btn-sm btn-outline-danger"%>
      </li>
    </ul>
  </td>
</tr>