<%= provide(:title, 'Students List') %>
<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center min-vh-100">
  <div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row p-4 m-auto">
      <div class="col-2 d-flex justify-content-center align-text-center">
        <h5>Search Students</h5>
      </div>
      <div class="col-8 d-flex justify-content-center align-text-center">
        <%= render 'shared/search_form' %>
      </div>
      <div class="col-2 d-flex justify-content-lg-end">
        <%= link_to "Add New Student", new_student_path, class: "btn btn-primary btn-lg p-1 mb-3" %>
      </div>
    </div>
    <div class="row card">
        <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0 table-striped table-hover caption-top">
            <caption>Search/Student List Results</caption>
            <thead>
            <tr>
              <th class="text-lg-center"><%= link_to "Student Name", :sort => "first_name" %></th>
              <th class="text-lg-center"><%= link_to "Course", :sort => "course" %></th>
              <th class="text-lg-center-center"><%= link_to "Year Level", :sort => "year_level" %></th>
              <th class="action text-lg-center">Action</th>
            </tr>
            </thead>
            <tbody>
              <%= render @students %>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <%= will_paginate %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
