<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @student.year_level %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Region:</strong>
  <%= @student.region %>
</p>

<p>
  <strong>Province:</strong>
  <%= @student.province %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @student.municipality %>
</p>

<p>
  <strong>Barangay:</strong>
  <%= @student.barangay %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @student.zipcode %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.street %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @student.mother_name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @student.spouse %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
