<tr class="candidates-list">
  <td class="title justify-content-center">
    <div class="thumb"><%= gravatar_for user.email, class: "img-fluid" %></div>
    <div class="candidate-list-details">
      <div class="candidate-list-info">
        <div class="candidate-list-title">
          <h5 class="mb-0"><%= link_to full_name(user), user_path(user) %></h5>
        </div>
        <div class="candidate-list-option">
          <ul class="list-unstyled">
            <li><%= user.email  %></li>
            <li><%= user.username %></li>
          </ul>
        </div>
      </div>
    </div>
    </td>
    <td class="mb-0 justify-content-lg-center text-lg-start">
      <ul class="list-unstyled">
        <li>
          <%= link_to "view", user_path(user),class: "btn btn-sm btn-outline-primary"  %>
        </li>
        <li>
          <%= link_to "edit", edit_user_path(user), class: "btn btn-sm btn-outline-primary" %>
        </li>
        <li>
          <%= link_to "delete", user_path(user), method: :delete, data: {confirm: 'Are you sure you want to delete this user?'}, class: "btn btn-sm btn-outline-danger"%>
        </li>
      </ul>
    </td>
</tr>