<%= provide(:title, "Edit User") %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row d-flex justify-content-center min-vh-100">
    <div class="col-sm-6 align-baseline">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-align-center">
              <%= image_tag @user.display_image , class: "rounded-circle img-thumbnail mx-auto d-block" if @user.image.attached? %>
              <div class="card-text">
                <h5 class="text-lg-center"><%= full_name @user %></h5>
                <h6 class="text-lg-center"><%= @user.username %></h6>
              </div>
            </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row gutters">
            <div class="row-col-sm-auto">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <%= form_with(model: @user, local: true) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= render 'form', f: f %>
              <div class="text-lg-center">
                <%= link_to "Cancel", user_path(@user), class: "btn btn-sm btn-secondary" %>
                <%= f.submit "Update", class: "btn btn-sm btn-primary", value: "update" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>