<p id="notice"><%= notice %></p>
<div class="container-fluid mt-3 mb-4 d-flex justify-content-center">
  <div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col d-flex justify-content-lg-start p-4">
        <h3>Users List</h3>
      </div>
      <div class="col d-flex justify-content-lg-start p-4">
        <%= render 'shared/user_search_form' %>
      </div>
      <div class="col d-flex justify-content-lg-end p-4">
        <%= link_to "Add New User", new_user_path, class: "btn btn-primary btn-sm p-1 mb-3" %>
      </div>
      <div class="card gradient-custom">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">    
            <table class="table manage-candidates-top mb-0 table-striped table-hover table-sm caption-top">
              <thead>
                <caption>List of Users</caption>
                <tr>
                  <th class="col-8 text-center">Users</th>
                  <th class="col-4 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render @users %>
              </tbody>
            </table>
            <div class="pagination justify-content-center">
              <%= will_paginate %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>