<header>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <%= link_to full_title, "#", class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", '', class: "nav-link" %>>
        </li>
        <% if logged_in? %>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
              <li class="nav-item"
                ><%= link_to "Profile", current_user %>
              </li>
              <li class="nav-item">
                <%= link_to "Settings", '#' %>
              </li>
              <li class="divider"></li>
              <li class="nav-item">
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>